<h2><%= @book.title %></h2>
<h3>by <%= @inventory.present_author_or_authors %></h3>

<h4>Details Page</h4>

<table style="width 100%">
    <tr>
      <th>Inventory ID:</th>
      <td><%= @inventory.id %></td>
    </tr>

    <tr>
      <th>Book ID:</th>
      <td><%= @inventory.book_id %></td>
    </tr>

    <tr>
      <th>Book Title:</th>
      <td><%= @book.title %></td>
    </tr>

    <tr>
      <th>Authors:</th>
      <td><%= @inventory.present_author_or_authors %></td>
    </tr>

    <tr>
      <th>Number in Stock:</th>
      <td><%= @inventory.quantity %></td>
    </tr>

    <tr>
      <th>Purchase Cost:</th>
      <td>£<%= @inventory.present_cost_to_purchase %></td>
    </tr>

    <tr>
      <th>Selling Value:</th>
      <td>£<%= @inventory.present_cost_to_sell %></td>
    </tr>
</table>

<p></p>

<table>
  <tr>

    <td class="btn-wrapper">
      <a href="/inventory/<%= @inventory.id %>/edit">
        <input class="btn btn-edit" type="submit" value="Edit this Entry" />
      </a>
    </td>

  </tr>
</table>

<p></p>

<table>
  <tr>

  <td class="btn-wrapper">
    <form action="/inventory/<%= @inventory.id %>/delete" method="POST">
      <input class="btn btn-delete" type="submit" value="Delete this Entry" />
    </form>
  </td>

  </tr>
</table>
