<h2>Edit <%= @book.title %></h2>
<h3>by <%= @inventory.present_author_or_authors %></h3>

<form method="POST" action="/inventory/submitted_edit">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="edit-select-book">Select Book:</label>
      <select name="book_id" id="edit-select-book">
        <% @books.each do |book| %>
            <option value=<%= book.id %>><%= book.title %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="edit-select-author">Select Author:</label>
      <select name="author_id" id="edit-select-author">
        <% @authors.each do |author| %>
            <option value=<%= author.id %>><%= author.full_name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" value="<%= @inventory.quantity%>"/>
    </div>

    <div class="form-el">
      <label for="cost-to-sell">Selling Value:</label>
      <input type="number" name="cost_to_sell" id="cost-to-sell" value="<%= @inventory.cost_to_sell%>"/>
    </div>

    <div class="form-el">
      <label for="cost-to-purchase">Purchase Cost:</label>
      <input type="number" name="cost_to_purchase" id="cost-to-purchase" value="<%= @inventory.cost_to_purchase%>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Submit Edits"/>
    </div>

  </div>
</form>
