<h2><%= @book.title %></h2>
<h3>by <%= @inventory.present_author_or_authors %></h3>

<h4>Details Page</h4>

<ul>
  <li>Inventory ID: <%= @inventory.id %></li>
  <li>Book ID: <%= @inventory.book_id %></li>
  <li>Book Title: <%= @book.title %></li>
  <li>Authors: <%= @inventory.present_author_or_authors %></li>
  <li>Quantity: <%= @inventory.quantity %></li>
  <li>Cost to Sell: <%= @inventory.cost_to_sell %></li>
  <li>Cost to Purchase: <%= @inventory.cost_to_purchase %></li>
</ul>
